
Packages/RealityKitContent/.swiftpm/xcode/xcuserdata/diloz.xcuserdatad/xcschemes/xcschememanagement.plist
SlideShowApp.xcodeproj/project.xcworkspace/xcuserdata/diloz.xcuserdatad/UserInterfaceState.xcuserstate
SlideShowApp.xcodeproj/xcuserdata/diloz.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
.DS_Store
